

/*=========== INTRO ============*/

#intro{
    border: solid 2px black;
    height: 100vh;
    background: url(bilder/Blå_tskjorte1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Overskrift*/
#overskrift{
    margin: 0 auto;
    background-color: grey;
    color: white;
    font-size: 80px;
    text-align: center;
    width: 100vh;
    opacity: 90%; /*gjennomsiktighet*/
    border-radius: 8px; /*runde kanter*/
}
/*Navbar*/

#toppnav{
    border: solid 2px orange;
    height: 40px;
    background-color: orange;
    position: sticky;

}

/*=========LIM-BOKSTAV===========*/

h3{
    font-size: 50px;
    margin: auto 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* bokser*/
#bakgrunn-bokstav-LIM{
    display: grid;
    grid-gap: 60px; /* mellomrom mellom "boksene"*/
    grid-template-columns: repeat(3, 1fr);
    margin:100px;
}


.LIM-bokser{
    display: flex;
    background-color: grey;
    -webkit-font-smoothing: antialiased; /*gjør teksten "mykere"*/
    color:white;
    flex-direction: column; /* plasserer kosene på rekke*/
    padding: 1rem;
    justify-content: space-between;
    text-align: center;
    border-radius: 6px;
}
/* Ikon*/




/*=========HOVEDDEL============*/
.boks {
    padding: 8px;
    background-color: white;
    border: 4px solid tomato;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

#bottom{
    margin-top: 100px;
    bottom: 10px;
    padding: 10px;
    border: green 10px solid;
}

