/*CSS TIL NAVBAR START*/
header {
    background-color: white;

    display: flex;
    justify-content:space-between;
    align-items: center;
}
/*  https://www.w3schools.com/css/css_navbar_horizontal.asp
*/

/*FORKLARING*/
/* "Nav" = navnet på en klasse, "ul" = uorganisert liste, li = listeelement i listen.
Vi velger alle listeelementene (li), inne i en uordnet liste (ul) med klassen nav */

nav ul { 
    list-style-type: none; /* fjerner kulepunkt som er standard for lister*/
    overflow: hidden; /* styrer hva som skjer med innhold som er for stort til å passe inn i et område. "hidden" forteller at innhold som ikke får plass i "boksen" blir skjult/klippet vekk*/
    background-color: white;
}

nav li { 
    float: left; /* plasserer listen til venstre*/
}
  
nav li a { /* css for hvert element "li" refirerer til listeelementene i listen*/
    color: black;
    text-align: center;
    padding: 14px 16px; /* Top = 14px, bunn =16px */
    text-decoration: none;
}
  
nav li a:hover { /* gjør "boksene" endrer farge når muspekeren treffer dem*/
    background-color: grey;
}
/*CSS TIL NAVBAR SLUTT*/




/*-----------CSS GRIDS START------------*/
.container{
    display: grid;

    grid-template-columns: (12, 1fr); /*1fr = 100%, 2fr er 100/2. Vi deler siden i 12 deler hvor disse tilsammen utgjør 100%*/
    gap: 10px;
}

.grid{ /*LAGET FOR AT VI SKAL KUNNE SE LAYPUTEN AV GRIDSENE*/
    pad: 8px;
    background-color: white;
    border: 4px solid red;
    box-shadow: 0px 2px 6px rgb(0,0,0,0.25);
    border-radius: 5px;
}

.Header{
    grid-column: 1 / span 12; 
}

.LogoForside{
    grid-column: 1/ span 12; 
    height: 100vh;
}

.KortOmOss{
    grid-column: 1 / span 12;
    height: 100vh;
}

.Bildegalleri{
    grid-column: 1 / span 12;
    height: 100vh;
}

.Footer{
    grid-column: 1 / span 12;
}
/*---------------------CSS GRIDS SLUTT------------------*/

.LogoForsideBakgrunn{
    background-image: url(css/bilder/soccer.jpg); /*BAKGRUNNSBILDE*/
    background-size: cover;
    padding-top: 170px; /* mellomrom fra toppen av bilde og den grå boksen*/
    
}

.LogoForsideTekst{
    display: grid;
    vertical-align: middle;
    height: 40vh; /*tar opp 40% av skjermen*/
    margin: 0;
    padding: 0;
    place-items: center;
    border-radius: 6px; /* gjør kantene runde*/
    opacity: 0.8; /* gjør bakgrunnen gjennomsiktig*/
    
    background-color: orange; /*  =====OBS! tok bare inn en random farge, må selvfølgelig endres på :) */
    color: black; /*TEKST*/
    text-align: center;

 
}
.KortOmOssTekst{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2.2;
}

.FooterFlexbox{ /*ONLY TEMPORARY*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
    padding: 3px;
    background-color: white;
    color: black;
}


/*BILDEGALLERI TEST 1 START
.slider-frame{
overflow: hidden;
height: 800px;
width: 1200px;
margin-left: 360;
margin-right: 20px;
}

/*----------SLIDE ANIMATION----------
@-webkit-keyframes slide-animation{
    0% {Left:0px}
    10%{Left:0px}
    20%{Left:1200px}
    30%{Left:1200px}
    40%{Left:2400px}
    50%{Left:2400px}
    60%{Left:1200px}
    70%{Left:1200px}
    80%{Left:0px}
    90%{Left:0px}
    100%{Left:0px}
}

.slider-images{
    width: 3600px;
    height: 800px;
    margin-right: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

/*-----------BILDEGALLERI TEST 1 SLUTT-----------/*


/*--------------BILDEGALLERI TEST 2 START------*/
#slideshow {
  overflow: hidden;
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 10s ease infinite;
}

.slide {
  float: left;
  height: 500px;
  width: 800px;
}


@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
/*------GALLERI TEST 2 SLUTT-------------------*/


