/*CSS TIL NAVBAR START*/
header {
    background-color: white;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

/*  https://www.w3schools.com/css/css_navbar_horizontal.asp
*/
nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}
  
nav li {
    float: left;
}
  
nav li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: grey;
}
/*CSS TIL NAVBAR SLUTT*/

/*CSS GRIDS START*/
.container{
    display: grid;

    grid-template-columns: (12, 1fr); /*1fr = 100%, 2fr er 100/2. Vi deler siden i 12 deler hvor disse tilsammen utgjør 100%*/
    gap: 10px;
}

.grid{
    pad: 8px;
    background-color: white;
    border: 4px solid red;
     box-shadow: 0px 2px 6px rgb(0,0,0,0.25);
    border-radius: 5px;
}

.Header{
    grid-column: 1 / span 12; 
}

.LogoForside{
    grid-column: 1/ span 12; 
    height: 100vh;
    background-image: url(css/bilder/soccer.jpg); /*BAKGRUNNSBILDE*/
    background-size: cover;

    color: black; /*TEKST*/
    text-align: center;
}

.LogoForsideTekst{
    vertical-align: middle;
}
.KortOmOss{
    grid-column: 1 / span 12;
    height: 100vh;

    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2.2;
}

.Bildegalleri{
    grid-column: 1 / span 12;
    height: 100vh;
}

.Footer{
    grid-column: 1 / span 12;
}
/*CSS GRIDS SLUTT*/

.FooterFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
    padding: 3px;
    background-color: white;
    color: black;
}


/*CSS TIL BILDEGALLERI START
.slider-frame{
overflow: hidden;
height: 800px;
width: 1200px;
margin-left: 360;
margin-right: 20px;
}

/*----------SLIDE ANIMATION----------
@-webkit-keyframes slide-animation{
    0% {Left:0px}
    10%{Left:0px}
    20%{Left:1200px}
    30%{Left:1200px}
    40%{Left:2400px}
    50%{Left:2400px}
    60%{Left:1200px}
    70%{Left:1200px}
    80%{Left:0px}
    90%{Left:0px}
    100%{Left:0px}
}

.slider-images{
    width: 3600px;
    height: 800px;
    margin-right: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

/*-----------END OF ANIMATION-----------/*

/*CSS BILDEGALLERI TEST 2*/
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 10s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
  background-image: cover;
}


@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
/*GALLERI FERDIG*/

